@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
}
header{
    background: url(./images/pattern-bg.png);
    height: 35vh;
    text-align: center;
}
header h1{
    color:#fff;
    padding-top: 15px;  
    font-weight:bold
}
.input-group{
    margin-top: 25px;
}
header input{
    border:none;
    height:55px;
    width:480px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: transparent;
    padding-left:20px;
    font-size: 18px;
    color:hsl(0, 0%, 17%);
}
header input::placeholder{
    padding-left: 10px;
    font-size: 18px;
}
header button{
    border: none;
    background-color:black;
    height:55px;
    width:48px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    left:-4px;
    top:0px;
    cursor: pointer;
    outline: transparent;
}

.address-details-section{
    display: flex;
    justify-content: space-between;
    width:73%;
    height: 25vh;
    margin:0 auto;
    border:none;
    padding:20px 20px;
    border-radius: 20px;
    position:absolute;
    top:27%;
    left:0;
    right:0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 8px 19px -2px rgba(117,117,117,1);
    -moz-box-shadow: 1px 8px 19px -2px rgba(117,117,117,1);
    box-shadow: 1px 8px 19px -2px rgba(117,117,117,1);
    z-index:1000;
}
.address-item small{
    margin-top:10px;
    color:hsl(0, 0%, 59%);
    font-weight: bold;  
    font-size:15px; 
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.address-item p{    
    font-weight: 700;
    font-size:25px;
    padding-top: 11px;
    color: hsl(0, 0%, 17%)
}
.address-details-section .address-item{
    border-left:1px solid hsl(0, 0%, 59%);
    padding-left:10px;
    width:25%;
}

.address-details-section .address-item:first-of-type{
    border-left:none;
    padding-left:0px;
} 

.map-section .map-container{
    height:65vh;
    size: cover;
}
.error-message{
    padding-top: 8px;
    font-size: 18px;
    color: #fff;
}