@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
}
header{
    background: url(./images/pattern-bg.png);
    height: 35vh;
    text-align: center;
}
header h1{
    color:#fff;
    padding-top: 15px;  
    font-weight:bold
}
.input-group{
    margin-top: 20px;
    width: 100%;
}

header input{
    border:none;
    height:50px;
    width: 40%;
    max-width:100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: transparent;
    padding-left:20px;
    font-size: 18px;
    color:hsl(0, 0%, 17%);
}
header input::placeholder{
    padding-left: 10px;
    font-size: 18px;
}
header button{
    border: none;
    background-color:black;
    height:50px;
    width:45px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    left:-4px;
    top:0px;
    cursor: pointer;
    outline: transparent;
}

.address-details-section{
    display: flex;
    justify-content: space-between;
    width:60%;
    height: 25vh;
    margin:0 auto;
    border:none;
    padding:20px 20px;
    border-radius: 20px;
    position:absolute;
    top:27%;
    left:0;
    right:0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 8px 19px -2px rgba(117,117,117,1);
    -moz-box-shadow: 1px 8px 19px -2px rgba(117,117,117,1);
    box-shadow: 1px 8px 19px -2px rgba(117,117,117,1);
    z-index:1000;
}
.address-item small{
    margin-top:10px;
    color:hsl(0, 0%, 59%);
    font-weight: bold;  
    font-size:15px; 
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.address-item p{    
    font-weight: 700;
    font-size:20px;
    padding-top: 11px;
    color: hsl(0, 0%, 17%)
}
.address-details-section .address-item{
    border-left:1px solid hsl(0, 0%, 59%);
    padding-left:10px;
    width:25%;
}

.address-details-section .address-item:first-of-type{
    border-left:none;
    padding-left:0px;
} 

.map-section .map-container{
    height:65vh;
    size: cover;
}
.error-message{
    padding-top: 8px;
    font-size: 18px;
    color: #fff;
}

/* MEDIA QUERY */
@media(max-width: 980px){
    .address-item p{    
        font-weight: 700;
        font-size:16px;
        padding-top: 11px;
        color: hsl(0, 0%, 17%)
    }  
    header input{
        width: 60%;
    }  
    header input::placeholder{
        font-size: 15px;
        padding-left: 0px;
    }   
    .map-section .map-container{
        height:65vh;
        size: cover;
    }
    .address-details-section p{
        font-size: 12px;
        top:28%
    }
}

@media(max-width: 730px){
    .address-details-section p{
        font-size: 13px;
        top:28%
    }
    .error-message{
        font-size:15px ;
    }
    
}
/* @media(max-width:990px){
    .address-details-section{
        width:90%;
    }
} */
@media(max-width:600px){
    .input-group{
        margin-top: 10px;
    }
    header input{
        width: 80%;
    }
    header input::placeholder{
        font-size: 13px;
    }
    .address-details-section{
        flex-direction: column;
        top:26%;
        height: 40vh;
        width: 50%;
        padding: 10px 10px;
    }
    .address-details-section .address-item{
        border-left:none;
        width:100%;
        text-align: center;             
    }
    .address-item small {
        font-size: 12px;
        margin-top: 0px;
    }
    .address-details-section .address-item:last-of-type{
        padding-bottom: 0px;
    }

    .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
        margin-top:280px !important;
    }

    .map-section .map-container{
        height:65vh;
        size: cover;
    }
} 
